* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.card {
  flex: 23%;
  max-width: 23%;
  padding: 5px 10px;
  /*margin-left: 20px;*/
}

.card img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card .card-title {
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  border-bottom: 4px #ff6f2e solid;
  transition: border-bottom 0.3s;
}

.card .card-title:hover {
  border-bottom: 4px #68c7ff solid;
}

.mainbody {
  position: relative;
  max-width: 75%;
  left: 12.5%;
}

@media screen and (max-width: 1007px) {
  .card {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .mainbody {
    position: relative;
    max-width: 100%;
    left: 0;
  }

  .card {
    flex: 95%;
    max-width: 95%;
  }
}

.card {
  transition: transform .2s;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  border-radius: 30px;
  margin-bottom: 20px;
}


.card a {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.card * {
  display: flex;
	flex-direction: column;
  justify-content: center;
}

.card .space {
  flex: 1;
}


.button-rm {
  background-color: #ff6f2e;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 15px;
  color: white;
  text-decoration: none;
  border-radius: 0 0 20px 20px;
  transition: 0.3s;
  /*border-radius: 0 20px 0 20px;
  border-radius: 20px 0 20px 0;
  border-radius: 20px 20px 0 0;*/
}

.button-rm:hover {
  background-color: #68c7ff;
  /*hi there :)*/
}
