body {
  margin: 0;
}

body {
  background-color: white;
  font-family: "Montserrat", Helvetica, sans-serif;
}

.logo {
  position: absolute;
  height: 250px;
  top: 0;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
}

.logo-side {
  height: 250px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Helvetica, sans-serif;
}

h6 {
  font-size: 2em;
  padding: 20px 20px 20px 20px;
  margin: 0;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header li {
  float: left
  width: 25%;
}

.header li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.header li {
  float: left;
  width: 20%;
}

.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: color 0.25s;
  font-size: 1.15em;
}

.header li a:hover {
  color: rgb(104, 199, 255);
}

.footer {
  margin-top: 10px;
  background-color: #ff6f2e;
  height: 60px;
  width: 100%;
  bottom: 0;
}

.footer div {
  color: white;
  text-align: center;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer div a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  transition: 0.15s color;
}

.footer div a:hover {
  text-decoration: none;
  color: #000;
  font-size: 2em;
}

@media screen and (max-width: 640px) {
  .links {
    transform: translate(0, -110px);
  }
  .links .narrow {
    display: none;
  }
  .links li {
    width: 25%;
    padding-top: 50px;
    background-color: #ff6f2e;
  }
  .links li {
    background-color: #
  }
}
