<!doctype HTML>
<html>
<head>
  <meta encoding="utf-8" />
  <title>Nerdboard | Board of Nerds</title>

    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">
    
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />

  <link rel="stylesheet" href="/styles/menu.css" />
  <link rel="stylesheet" href="/styles/about.css" />
</head>
<body>
  <div class="header" style="text-align:center">
    <img src="/res/logo.png" alt="Go Home!" class="logo">
    <img src="/res/logo-side.png" alt="Go Home!" class="logo-side">
    <ul>
      <li><a href="/"><b>Home</b></a></li>
      <li><a href="/random.html"><b>Random</b></a></li>
      <li class="narrow"><p></p></li>
      <li><a href="/about.html"><b>About</b></a></li>
      <li><a href="/contact.html"><b>Contact</b></a></li>
    </ul>
  </div>
<div class="mainbody">
    <div class="row">
      <div class="card">
        <img src="/res/jin.jpg"/>
        <h1 class="card-title">Jinrun Han</h1>
        <div>
          <p>Jin Han is one of Nerdboard's writers. Between being shouted at by racists and drinking under some stairs, she finds time to write blog posts and make beautiful short films. Her passions include Wetherspoons and talking (about movies, mostly).<br /><br />
          Jin is from LA but also grew up in Beijing, going to university in New York and Leeds - truly a global citizen! Her experiences form much of the inspiration of her work, but she's down to try anything once ;)</p>
        </div>
        <div class="space">&nbsp;</div>
        <div class="button-rm">WRITER</div>
      </div>
      <div class="card">
        <img src="/res/david.jpg"/>
        <h1 class="card-title">David Oloko</h1>
        <div>
          <p>Who is David Oloko you might ask? The man is many things, I mean, he has not one but SEVEN first names! First of all, David is definitely from Africa because where else would he be from? Just kidding, he’s actually from London you racist fuck. He has, however, lived in Ghana in his childhood which makes him a multicultural international ass ho. He majors in digital media at the University of Leeds and is currently the station manager of Leeds Student Television, the largest (and best) student television station in the UK. In his spare time, David is an avid Rocket League player, a dedicated single-father to his snowson, an aspiring cat person, and professional softie. David is also skilled in the craft of making burgers, writing comedy, graphic design, making people happy, being a snack, and doing things at the very last minute before the deadline. David’s greatest motivators in life are his deep passion for his art and a desire to be paid enough to survive.</p>
        </div>
        <div class="space">&nbsp;</div>
        <div class="button-rm">DESIGNER</div>
      </div>
      <div class="card">
        <img src="/res/elizabeth.jpg"/>
        <h1 class="card-title">Lizzie Sarell</h1>
        <div>
          <p>When one thinks of an alleged coffee lover, avid baker and talented writer, only one person comes to mind on the Board of Nerds. Elizabeth 'Lizzie Loves Chocolate' Sarell is truly a snack of all trades! With a love for musicals and a knack for coding, Lizzie is a true delight to have around... except for when she's reminding you about how she's lactose intolerant but other than that... you can always expect her to be writing, cooking or at the very least thinking of new ideas to show everyone! No matter what, you can always rely on the soon-to-be vegan Lizzie Sarell (trust me, she says she won't but give it a month) to provide you with posts that are absurd yet entertaining.</p>
        </div>
        <div class="space">&nbsp;</div>
        <div class="button-rm">WRITER</div>
      </div>
      <div class="card">
        <img src="/res/george.jpg"/>
        <h1 class="card-title">George Hill</h1>
        <div>
          <p>
            What a guy! No bio yet though.
          </p>
          <!-- Congrats! You found the secret. This is the original bio written for George by Lizzie, which he hates.

          <p>Hi I'm George.
          With my signature glasses I work to keep the tech side of NerdBoard running.(So that 404 error, yep that's my fault). I know everything and everything, even the stuff that hasn't been invented yet!(Secretly I'm a time traveller who has been to university 6 times collecting every type of degree so i can go back in time and impress people. The things I wish I could tell you about the future all I'm gonna say is the presidential slogan was 4 bobs in in 2020)<br /><br />
          Here's some cool facts about me that will allow you to get to know me a little better:<br />
          - I wanna fly across the sky (idealy in my own plane but I wouldnt object to a cannon)<br />
          - I study Computer Science (Yes I really am THAT SMART)<br />
          - I'm a gemini<br />
          -I'm outgoing<br />
          - I'm Adaptable<br />
          - I'm intelligent<br />
          All of which are gemini traits which leeds nicely onto the fact that I 100% have and always will believe in astrology. So much so that I create an app in C which send to my phone my daily horoscope so I can just stay on top of what the day is gonna throw at me.</p>-->
        </div>
        <div class="space">&nbsp;</div>
        <div class="button-rm">TECHNOLOGIST</div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="social">
      <!-- Twitter -->
      <a href="http://twitter.com/nerdboardblog" target="_blank"><i class="icon-social-twitter icons"></i></a>
      <!-- Facebook -->
      <a href="http://fb.me/nerdboardblog" target="_blank"><i class="icon-social-facebook icons"></i></a>
      <!-- Instagram -->
      <a href="http://instagram.com/nerdboardblog" target="_blank"><i class="icon-social-instagram icons"></i></a>
      <!--<p style="font-size: 0.8em">
        Web Design Copyright George Hill (C) 2019<br />
        Logo Copyright David Oloko (C) 2019<br />
        Content Copyright Han Jinrun, David Oloko, Elizabeth Sarell (C) 2019
      </p>-->
    </div>
  </footer>
</body>
</html>
