<!doctype HTML>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145060280-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-145060280-1');
  </script>
  <meta encoding="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nerdboard | Home</title>

    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">
    
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />

  <link rel="stylesheet" type="text/css" href="/static/menu.css" />
  <link rel="stylesheet" type="text/css" href="/static/index.css" />
</head>
<body>
  <div class="header" style="text-align:center">
    <img src="/res/logo.png" alt="Go Home!" class="logo">
    <img src="/res/logo-side.png" alt="Go Home!" class="logo-side">
    <ul class="links">
      <li><a href="/"><b>Home</b></a></li>
      <li><a href="/random.html"><b>Random</b></a></li>
      <li class="narrow"><p></p></li>
      <li><a href="/about.html"><b>About</b></a></li>
      <li><a href="/contact.html"><b>Contact</b></a></li>
    </ul>
  </div>
  <div class="mainbody">
    <div class="row">
      {% for item in posts %}
      <a href="{{ item.href }}">
        <div class="card">
          <img src="{{ item.image }}"/>
          <div>
            <a class="card-title" href="{{ item.href }}">{{ item.title }}</a>
            <!--<p>And here's some test text in the right font (hopefully). More text now. Is there more text in the real post?</p>-->
            <p>{{ item.description }}</p>
          </div>
          <a href="{{ item.href }}">
            <div class="button-rm">READ MORE
            </div>
          </a>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <footer class="footer">
    <div class="social">
      <!-- Twitter -->
      <a href="http://twitter.com/nerdboardblog" target="_blank"><i class="icon-social-twitter icons"></i></a>
      <!-- Facebook -->
      <a href="http://fb.me/nerdboardblog" target="_blank"><i class="icon-social-facebook icons"></i></a>
      <!-- Instagram -->
      <a href="http://instagram.com/nerdboardblog" target="_blank"><i class="icon-social-instagram icons"></i></a>
      <!--<p style="font-size: 0.8em">
        Web Design Copyright George Hill (C) 2019<br />
        Logo Copyright David Oloko (C) 2019<br />
        Content Copyright Han Jinrun, David Oloko, Elizabeth Sarell (C) 2019
      </p>-->
    </div>
  </div>
</body>
</html>
