<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NerdBROKEN | Login</title>

    <link rel="icon" type="image/png" href="/res/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/res/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/res/favicon-96x96.png" sizes="96x96">
    
</head>
<body>
    <div class="container">
        <h1>Log in</h1>
        <br>
        <form action="" method="post">
            <input type="text" name="username" placeholder="Username" value="{{ request.form.username }}">
            <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
            <input type="submit" value="Login">
        </form>
        <a href="/createuser">Create Account</button>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
