<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>Nerd's Room | Upload</title>
    <link rel="stylesheet" href="/styles/sidebar.css">
    <link rel="stylesheet" href="/styles/menu.css" />
    <link rel="stylesheet" href="/styles/settings.css" />
</head>
<body>
  <div class="sidebar">
    <a href="/upload">Upload</a>
    <a class="active" href="/settings">Settings</a>
    <a href="/logout">Log Out</a>
  </div>
  <div class="content">
    <h1>Settings</h1>
    <h2>Modify {{username}}</h2>
  </div>
</body>
</html>
