<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145060280-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-145060280-1');
  </script>
  <meta charset="utf-8" />
  <title>Nerdboard | Test Post</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />

  <link rel="stylesheet" href="/static/menu.css"/>
  <link rel="stylesheet" href="/static/post.css"/>
</head>
<body>
  <div class="header" style="text-align:center">
    <img src="/res/logo.png" alt="Go Home!" class="logo">
    <img src="/res/logo-side.png" alt="Go Home!" class="logo-side">
    <ul>
      <li><a href="/"><b>Home</b></a></li>
      <li><a href="/random.html"><b>Random</b></a></li>
      <li class="narrow"><p></p></li>
      <li><a href="/about.html"><b>About</b></a></li>
      <li><a href="/contact.html"><b>Contact</b></a></li>
    </ul>
  </div>
  <div class="mainbody">
    <div class="container">
      <h1>Page Not Found</h1>
      <p>
        Whoops! Looks like the page you were looking for doesn't exist. If you're typed the address manually, check you  haven't made a mistake! Otherwise, the link you clicked is broken. <a href="/">Go back to the main page!</a>
      </p>
    </div>
  </div>
</body>
</html>
