<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>Nerd's Room | Upload</title>
    <link rel="stylesheet" href="/styles/sidebar.css">
    <link rel="stylesheet" href="/styles/menu.css" />
    <link rel="stylesheet" href="/styles/settings.css" />
</head>
<body>
  <div class="sidebar">
    <a class="active" href="/upload">Upload</a>
    <a href="/settings">Settings</a>
    <a href="/logout">Log Out</a>
  </div>
  <div class="content">
    <h1>Upload New</h1>
    {% if privLvl == 0 %}
      <form>
        <input type="file" name=file><br>
        <input type="text" name=title placeholder="Post Title"><br>
        <textarea name=description placeholder="Description"></textarea><br>
        <input type="file" name=image><br>
        <input type="date" name="publish"><br>
        <input type="submit" value=Upload>
      </form>
    {% else %}
    <h2>Permission Denied</h2>
    <p>
      Sorry, you don't have permission to upload new posts. Try speaking to the sysadmin if you think this is a mistake.
    </p>
    {% endif %}
  </div>
</body>
</html>
