<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>Nerd's Room | Upload</title>

    <link rel="icon" type="image/png" href="/res/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/res/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/res/favicon-96x96.png" sizes="96x96">

    <link rel="stylesheet" href="/styles/sidebar.css">
    <link rel="stylesheet" href="/styles/menu.css" />
    <link rel="stylesheet" href="/styles/settings.css" />
    <link rel="stylesheet" href="/styles/post.css" />

    <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
</head>
<body>
  <div class="sidebar">
    <a class="active" href="/upload">Upload</a>
    <a href="/settings">Settings</a>
    <a href="/posts">Posts</a>
    <a href="/logout">Log Out</a>
  </div>
  <div class="content">
    <h1>Upload New</h1>
    {% if privLvl != 3 %}
    <form method="post" enctype="multipart/form-data">
      <input type="text" name=title placeholder="Post Title"></input><br>
      <input type="text" name=description placeholder="Description"></input><br>
      <label>Thumbnail</label>
      <input type="file" name=thumb></input><br>
      <label>Date to publish</label>
      <input type="date" name="publish"></input><br>
      <textarea name="content" id="editor">{{ preContent|safe }}</textarea>
      <script>
        ClassicEditor
          .create( document.querySelector( '#editor' ), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockquote'],
            heading: {
              options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h2', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h3', title: 'Heading 2', class: 'ck-heading_heading2' },
                { model: 'heading3', view: 'h4', title: 'Heading 3', class: 'ck-heading_heading3' }
              ]
            },
            ckfinder: {
              uploadUrl: '/imgUpload'
            }
          } )
          .catch( error => {
                  console.error( error );
        } );
      </script>
      <input type="submit" value=Upload></input>
    </form>
    {% else %}
      <h2>Permission Denied</h2>
      <p>
        Sorry, you don't have permission to upload new posts ({{ privLvl }}). Try speaking to the sysadmin if you think this is a mistake.
      </p>
    {% endif %}
  </div>
</body>
</html>
