<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>Nerd's Room | Upload</title>
</head>
<body>
    <h1>Upload New Post</h1>
    <form>
        <input type="file" name=file><br>
        <input type="text" name=title placeholder="Post Title"><br>
        <textarea name=description placeholder="Description"></textarea><br>
        <input type="file" name=image><br>
        <input type="date" name="publish"><br>
        <input type="submit" value=Upload>
    </form>
</body>
</html>